<div class="video-back">


    <div class="text-center">
      <div>
        <img src="assets/loogo.png"  class="rounded" >
      </div>
      <div>
        <a class="neon-bt" href="https://www.metalquip.com.br/">
          <span></span>
          
          <span></span>
          
          <span></span>
          
          <span></span>
          
          Fale Conosco
        </a>
      </div>
      <video autoplay muted id="myVideo" loop class=" bg_video">
        <source src="assets/videoFundo.mp4" type="video/mp4">
        
    </video>
  </div>

</div>